/* 
html {
  width: 100%;
} */

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}



.menu-web{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    /* padding: 0px 10px; */
}

.menu-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand-name {
    margin-left: 40px;
}

.logo a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.navbar-menu {
    display: flex;
    /* align-items: center; */
    align-content: center;
    justify-content: flex-end;
    margin-right: 40px;
    height: 100%;
    /* background-color: white; */
}

.search-bar #article-search {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #000;
    /* border-radius: 30px; */
    color: #2c2c2c;
    height: 2rem;
    margin: .55rem;
    align-items: center;
    line-height: normal;
    font-size: 0.9rem;
}

.search-bar-right #article-search {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #000;
  /* border-radius: 30px; */
  color: #2c2c2c;
  height: 2rem;
  margin: auto;
  line-height: normal;
  font-size: 0.9rem;
}

.navbar-menu ul {
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

.navbar-menu ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-size: 0.7rem;
    text-transform: uppercase;
}


.menu-btn {
  padding: 0.7rem;
  margin: 2px;
  color: #000;
}

i .fas {
  width: 100%;
  /* color: #000; */
}

/* .fa-bell .fa-user-circle .fa-pencil-alt {
  color: black;
} */

.menu-btn:hover  {
  background-color: white;
  box-shadow: 2px 2px 5px;
  transition: 0.5s;
}


.menu-wrap-hamburger {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap-hamburger .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 45px;
    height: 45px;
    opacity: 0;
  }
  
  .menu-wrap-hamburger .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap-hamburger .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap-hamburger .hamburger > div::before,
  .menu-wrap-hamburger .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap-hamburger .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap-hamburger .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap-hamburger .toggler:checked + .hamburger > div:before,
  .menu-wrap-hamburger .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap-hamburger .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap-hamburger .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap-hamburger .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s ease;
  }
  
  .menu-wrap-hamburger .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap-hamburger .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap-hamburger .menu > div {
    background: rgba(255, 255, 255, 0.7);
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap-hamburger .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap-hamburger .menu > div > div > ul {
    padding: 0px;
    margin: 0px;
  }


  .menu-wrap-hamburger .menu > div > div > ul > li {
    list-style: none;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 100;
  }
  
  .menu-wrap-hamburger .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  




/* Landing Page */

.landing-page {
    /* position: sticky; */
    background: url("../admin/images/PM-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
}

.landing-page-articles {
    position: fixed;
    background-image: url("http://source.unsplash.com/1600x900/?nature");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -4;
}

.content-inner-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 700px;
  font-size: 1.1rem;
  font-weight: 400;
}


.landing-text {
  margin-top: 12rem;
  text-shadow:  0 1px 0 #333;
}

.landing-text h1 {
  margin-bottom: 10px;
  font-weight: 400 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 1.2rem !important;
  text-transform: uppercase;
  animation: peter 1.2s forwards 0s ease-out;
}

@keyframes peter {
    0%{
        transform: rotate(0) translateY(-10px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.landing-text p {
  margin-top: 10px;
  font-weight: 300;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  font-size: .9rem;
  /* text-transform: uppercase; */
}
.dashboard-bg{
  margin-top: 100px;
}

.featured-card{
  position: relative;
  width: 23%;
}

.published-articles, .draft-articles, .pool-of-ideas {
  margin-top: 100px;

}

.article-thumbnail {
  object-fit: cover;
  border: 1px solid white;
}

.article-thumbnail-home {
  height: 100%;
}



.sidebar {
  position: fixed;
  width: 7rem;
  top: 6rem;
  /* width: 20vw; */
}

.author {
  margin: 0;
}

.featured-articles {
  margin-bottom: 70px;
}


.articles {
  margin-left: 10.625rem
}

.card-box {
  /*object-fit: cover;*/
  /* height: 100px; */
  
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-box-home {
  margin: 10px 0px;
}

.card-content {
  width: 100%
}

.card-text {
  overflow: hidden;
}

.card .card-header {
  position: relative;
  height: 48px;
}

.card .card-header .profile-img {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

/* .card .card-body {
  padding: 10px 40px;
} */

.card .card-body .full-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.card .card-body .username {
  font-size: 13px;
  color: #777;
  margin: 5px 0 0;
}

.card .card-body .city {
  font-weight: 500;
  margin: 10px 0 0;
}

.card .card-body .desc {
  line-height: 24px;
}

.card .social-icon {
  font-size: 18px;
  margin: 0 7px;
}

.card .social-icon.facebook {
  color: #3b5999;
}

.card .social-icon.twitter {
  color: #55acee;
}

.card .social-icon.tumblr {
  color: #34465d;
}

.card .social-icon.youtube {
  color: #cd201f;
}

.card .social-icon.linkedin {
  color: #0077b5;
}

.card .social-icon.google-plus {
  color: #dd4b39;
}

.card .card-footer {
  display: table;
  /* width: 100%; */
  border-top: 1px solid #e6e6e6;
}

.card .card-footer .col {
  /* display: table-cell; */
  padding: 5px 10px;
  font-size: 15px;
}

.card .card-footer .count {
  font-size: 18px;
  font-weight: 600;
}

.vr {
  border-right: 1px solid #e6e6e6;
}

.profile-pic {
  align-content: center;
  align-self: inherit;
}

.pool-of-ideas {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 170px;
  margin-right: 10px;
}

.card-warp{
  display: flex;
  flex-wrap: wrap;
}

.card-ideas{
  margin:1rem;
}


.create-article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 100%;

  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.article-editor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    margin-top: 50px;
    width: 100%;
    /* display: flex; */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 { 
  color: #888;
  
}



#landing-image {
  background: url('../admin/images/MckinnonProfile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.testimonial{
  border-left: 3px solid black;
  padding: 100px 0 100px 275px;
  position: relative
}
.testimonial:before,
.testimonial:after{
  content: "";
  width: 320px;
  height: 55px;
  border-right: 3px solid black;
  position: absolute;
  left: 0;
}
.testimonial:before{
  border-top: 3px solid black;
  top: 0;
}
.testimonial:after{
  border-bottom: 3px solid black;
  bottom: 0;
}
.testimonial .pic{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .description{
  font-size: 14px;
  color: #7a7e82;
  line-height: 27px;
  position: relative;
}
.testimonial .description:before{
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -70px;
  left: 0;
  font-size: 20px;
  color: #7a7e82;
}
.testimonial .testimonial-title{
  font-size: 22px;
  font-weight:800;
  color: #22272c;
  text-transform: capitalize;
}
.testimonial .post{
  display: block;
  font-size: 15px;
  font-weight: 700;
  color :#6ab33e;
  margin-top: 10px;
}
.owl-theme .owl-controls{
  text-align: right;
  margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #6ab33e;
  border-radius: 0;
  opacity: 1;
  padding: 5px 10px;
}
.owl-prev:before,
.owl-next:before{
  content: "\f053";
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  color: #fff;
}
.owl-next:before{
  content: "\f054";
}


.work-with-us {
  padding: 1rem;
}

.btn-submit {
  display: inline-block;
}

.contact {
  margin: auto;
  width: 100vw;
  padding: 0px;
}

.contact-us {
  background-image: url("../admin/images/work-with-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  justify-content: start;
}

.form-label {
  font-weight: 50;
  font-size: 0.7rem !important;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* letter-spacing: 0.5rem; */
  margin-bottom: 0px;
}

.card-message {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid gray;
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  height: 40rem;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(22, 22, 22);
}

/* .work-with-us .contact-us {
  max-height: 500px;
} */

legend h3 {
  margin: 20px auto 30px; 
}

p#footer.text-white.text-uppercase {
  margin-bottom: 0px;
  width: 100%;
  letter-spacing: 0.5rem
}

.footer-container {
  margin: 0;
  margin-left: 0;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
  bottom: 0;
  /* padding: 0px 10px; */
}

.footer-brand-name {
  margin-left: 40px;
}

a#BtnPopover {
  padding: 0.5rem 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}












@media screen and (max-width:872px){
    .navbar-menu{display: none !important}
    .search-bar #article-search{display: none !important}
    #featured{flex-direction: column !important; flex-wrap: nowrap;}
    .featured-card{width: 100%}
    .featured-card{}
    /* #featured div div.border-0 {height:"23%" !important} */
    /* .showcase-picture img {
      display: block;
      width: 100%;
    } */

    /*.sidebar{ z-index: 2;
    }

    .sidebar .list-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -30px;
      position: fixed;
      
    }

    .articles {
      margin-left: 0;
    }*/
}

@media(min-width:872px){
  .menu-wrap-hamburger{display: none !important}
  #featured-card{ width: 23% !important}
  
  
}

@media screen and (max-width: 575px) {
  .card {
      width: 96%;
  }

  .card .card-body {
      padding: 10px 20px;
  }

  .card .card-footer .col {
      padding: 0 10px;
  }

  .card .card-footer .count {
      display: block;
      margin-bottom: 5px;
  }

  .card-message {
    margin: auto;
    max-width: 400px;
  }
  
}

@media (min-width: 700px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }

 
}

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 990px){
  .testimonial{
      padding: 80px 0 80px 265px;
  }
  .sidebar {
    position: relative ;
    top: 60px;
    max-width: 400px;
    margin: 0;
    align-items:  center;

  }
.sidebar .list-group {
  display:  flex;
  flex-direction:   row; 
    }

    .articles, .pool-of-ideas{
      margin-left:  0px;
    }

    .article-thumbnail {
      /*width: 100px !important ;*/
      height: 280px !important ;
      object-fit:   cover;
    }

    

    .author, .card-title {
      font-size: 0.8rem;
    }
}
